.img_region{
	width: 1000px;
}
.box{
	justify-items: space-between;
	justify-content: center;
	float: left;
	padding: 1rem;
	margin-right: 100px;
	margin-bottom: 300px;
}
.box>h3 a{
	color: black;
}
/*zone stockage des chiffres*/
.numbers
{
	display: flex;
	justify-content: space-between;
}

/*caractéristiques chiffres*/
.number div:first-child
{
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: center;
	font-size: 3rem;
	border-radius:100%;
	background-color: white;
	height: 200px;
	width: 200px;
}

/*animation chiffres*/
.number div:first-child:hover
{
	transition: all 0.8s ease;
	background-color: black;
}

/*correspondance des chiffres*/
.number div:last-child
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	align-items: center;
	text-decoration: underline;
	font-style: italic;
}

/*caractéristiques slogan*/
.slogan
{
	display: flex;
	justify-content: center;
	grid-column: 1/3;
	font-size: 1.5rem;
	text-decoration: underline;
	font-style: italic;
}

/*caractéristiques video*/
.video
{
	display: flex;
	justify-content: center;
	grid-column: 1/3;
	border-radius: 15px 15px 5px 5px;
	border: 5px solid white;
	width: auto;
	margin: auto;
}
/*zone d'écriture pied de page*/
.footerBlock
{
	display: inline;
	text-align: center;
	align-items: center;
	margin: auto;
}

/*titre block pied de page*/
.footerTitle
{
	font-size: 2rem;
}
/*style corp page inscription*/
.inscription
{
	grid-column: 1/3;
	display: block;
	margin:auto;
}
/*style des dates des articles*/
.date
{
	background-color:rgba(102, 102, 102, 0.74);
}
.mainTitle{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: xx-large;
}
.white_color{
	color: white; 
}
.cercle{
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid;
	background-color: #BEA88F;
	color: #FFD700;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 50%;
	height: 19vw;
	width: 19vw;
}
.index{
	grid-column: 1/3;
}
.airbn{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.points_fort{
	display: flex;
	justify-content: space-around;
	margin-left: 100px;
	font-size: 2rem;
}
.sous_points_fort{
	display: flex;
	flex-direction: row;
	justify-items: space-around;
	clear: both;
	font-size: 70%;
	margin-left: 30px;
}
.box{
	border: solid black;
	display: block;
	background-color: #BEA88F;
	color: white;
}
.geo{
	margin-left: 60px;
}
.white{
	color: white;
}
.iframe{
	width: 600;
	height: 450;
}
.mobile{
	display: none;
}
.accroche{
	font-size: xx-large;
}
.accroche2{
	font-size: x-large;
}
.underline{
	text-decoration: underline;
}
.italic{
	font-style: italic;
}
.petit_enfant{
	font-size: 1.8rem;
}
.petit_enfant2{
	font-size: 1.4rem;
	list-style: none;
}
.center_vertical{
	margin-top: 200px;
	margin-bottom: 135px;
}
.opacity{
	opacity: 0.7;
}
.center{
	display: flex;
	justify-content: center;
}
.margin_top{
	margin-top: 1%;
}
.font_size{
	font-size: large;
}