@media screen and (max-width: 750px) {
    /*caractéristique en tête*/
header
{
	grid-column: 1/3;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 10%;
	padding-top: 10%;
	width: 100%;
	background-color: white;
}
main, body{
  display: block;
}
  }